<div class="tetris pt-3" data-controller="tetris" data-action="keydown@window->tetris#moveInput keyup@window->tetris#otherInput resize@window->tetris#drawGrids" data-tetris-link-value="<%= game_scores_path(game) %>">
  <!-- Modal -->
  <div id="highscores-modal">
    <button class="close"><span>&times;</span></button>
    <div class="content" data-tetris-target="highscores">
      <%= render 'games/tetris/high_scores', formats: :html, scores: game.scores %>
    </div>
  </div>
  <div class="row justify-content-center w-100">

    <div class="row justify-content-center">
      <div id="score" class="col-12 col-sm-8 col-md-6">
        <div class="scoreboard d-flex justify-content-between">
          <h3 class="text-end ps-3 py-1 m-0">Score</h3>
          <p data-tetris-target="score" class="text-end pe-3 py-1 m-0">0</p>
        </div>
      </div>
    </div>
    <div class="row mt-3 justify-content-between">
      <div class="col-8 col-md-6">
        <div id="high-scores" class="high-scores scoreboard">
          <h3 class="text-center py-1 m-0" data-action="click->tetris#showHighscores">Show highscores</h3>
        </div>
      </div>
      <div class="next-piece col-3" data-tetris-target="nextGridRow">
        <% y = 0 %>
        <% 4.times do %>
          <div class="d-flex justify-content-center">
            <% x = 5 %>
            <% 3.times do %>
              <div id="next-<%= x %>,<%= y %>" class="next-grid empty" data-tetris-target="nextGrid"></div>
              <% x += 1 %>
            <% end %>
          </div>
          <% y += 1 %>
        <% end %>
      </div>
    </div>

    <div class="col-12 d-flex flex-column align-items-center pt-3" data-tetris-target="mainGridRow">
      <h2 class="text-center" data-tetris-target="level">Level 1</h2>
      <div class="board" data-action="touchmove->tetris#touchControl touchstart->tetris#setTouchCoordinates touchend->tetris#touchRotate">
        <% y = 0 %>
        <% 22.times do %>
          <div class="d-flex justify-content-center" data-tetris-target="row">
            <% x = 0 %>
            <% 12.times do %>
              <div id="<%= x %>,<%= y %>" class="grid empty" data-tetris-target="grid"></div>
              <% x += 1 %>
            <% end %>
          </div>
          <% y += 1 %>
        <% end %>

        <%= render 'games/tetris/mobile/start_game', formats: :html %>
        <div data-tetris-target="gameOver"></div>
        <div data-tetris-target="paused"></div>
      </div>

      <div class="volume-control d-flex justify-content-around w-100 pt-3">
        <p>
          <i class="fa-solid fa-pause" data-action="click->tetris#pauseGame" data-tetris-target="pauseBtn"></i>
          <i class="fa-solid fa-play" data-action="click->tetris#pauseGame" data-tetris-target="unpauseBtn"></i>
        </p>

        <p>
          <i class="fa-solid fa-volume-high"  data-action="click->tetris#mute" data-tetris-target="muteBtn"></i>
          <i class="fa-solid fa-volume-xmark" data-action="click->tetris#unmute" data-tetris-target="unmuteBtn"></i>
        </p>
      </div>
    </div>
  </div>

  <%= audio_tag 'tetris.weba', 'tetris.m4a', data: {tetris_target: :music}, loop: true %>
  <%= audio_tag 'lose.m4a', data: {tetris_target: :loseAudio}%>
  <%= audio_tag 'pause.weba', 'pause.m4a', data: {tetris_target: :pauseAudio} %>
  <%= audio_tag 'lineclear.weba', 'lineclear.m4a', data: {tetris_target: :lineClearAudio}%>
</div>
