<div class="tetris" data-controller="tetris" data-action="keydown@window->tetris#moveInput keyup@window->tetris#removeInput">
  <h3 data-tetris-target="level">Level 1</h3>
  <% y = 0 %>
  <% 22.times do %>
    <div class="d-flex justify-content-center" data-tetris-target="row">
      <% x = 0 %>
      <% 12.times do %>
        <div id="<%= x %>,<%= y %>" class="grid empty" data-tetris-target="grid"></div>
        <% x += 1 %>
      <% end %>
    </div>
    <% y += 1 %>
  <% end %>

  <div class="volume-control text-end">
    <p>
      <i class="fa-solid fa-volume-high"  data-action="click->tetris#mute" data-tetris-target="muteBtn"></i>
      <i class="fa-solid fa-volume-xmark" data-action="click->tetris#unmute" data-tetris-target="unmuteBtn"></i>
    </p>
  </div>

  <audio data-tetris-target="music" src="<%= audio_path 'tetris.m4a'%>" type="audio/m4a" loop></audio>
  <audio data-tetris-target="loseAudio" src="<%= audio_path 'lose.m4a'%>" type="audio/m4a"></audio>
  <button id="start" data-tetris-target="startBtn" data-action="click->tetris#start">START</button>

  <div id="game-over" data-tetris-target="gameOver">
    <H2>GAME OVER</H2>
    <button class="m-3" data-tetris-target="replayBtn" data-action="click->tetris#replay">PLAY AGAIN?</button>
  </div>

  <div id="back">
    <%= link_to 'Back', games_path %>
  </div>

  <div id="score">
    <div class="scoreboard">
      <h3 class="text-end pe-3">Score</h3>
      <h3 data-tetris-target="score" class="text-end pe-3">0</h3>
    </div>
    <div class="next-piece mt-3 me-3">
      <% y = -1 %>
      <% 5.times do %>
        <div class="d-flex justify-content-center">
          <% x = 4 %>
          <% 5.times do %>
            <div id="<%= x %>,<%= y %>" class="next-grid empty" data-tetris-target="nextGrid"></div>
            <% x += 1 %>
          <% end %>
        </div>
        <% y += 1 %>
      <% end %>
    </div>
  </div>
</div>
