<div class="row justify-content-center">
  <div class="col-4">
  <h2 class="pt-5">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field py-3 w-100">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field py-3 w-100">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field d-flex align-items-center">
        <%= f.check_box :remember_me, class: 'radio me-3' %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions py-3 d-flex flex-column align-items-center">
      <%= f.submit "Log in" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>


  </div>
</div>
