<div class="tetris pt-3" data-controller="tetris" data-action="keydown@window->tetris#moveInput keyup@window->tetris#otherInput resize@window->tetris#drawGrids" data-tetris-link-value="<%= game_scores_path(game) %>">
  <div class="row justify-content-center w-100">
    <div class="d-none d-md-block col-4 col-lg-3">
      <div id="high-scores" class="high-scores scoreboard" data-tetris-target="highscores">
        <%= render 'games/tetris/high_scores', formats: :html, scores: game.scores %>
      </div>
    </div>

    <div id="game" class="col-6 col-md-4 d-flex flex-column align-items-center" data-tetris-target="mainGridRow">
      <h2 class="text-center" data-tetris-target="level">Level 1</h2>
      <div class="board" data-action="touchmove->tetris#touchControl touchstart->tetris#setTouchCoordinates touchend->tetris#touchRotate">
        <% y = 0 %>
        <% 22.times do %>
          <div class="d-flex justify-content-center" data-tetris-target="row">
            <% x = 0 %>
            <% 12.times do %>
              <div id="<%= x %>,<%= y %>" class="grid empty" data-tetris-target="grid"></div>
              <% x += 1 %>
            <% end %>
          </div>
          <% y += 1 %>
        <% end %>
      <%= render 'games/tetris/start_game', formats: :html %>
      <div data-tetris-target="gameOver"></div>
      <div data-tetris-target="paused"></div>
      </div>
      <div class="volume-control d-flex justify-content-end w-50 pt-1">
        <p class="pe-3">
          <i class="fa-solid fa-pause" data-action="click->tetris#pauseGame" data-tetris-target="pauseBtn"></i>
          <i class="fa-solid fa-play" data-action="click->tetris#pauseGame" data-tetris-target="unpauseBtn"></i>
        </p>
        <p>
          <i class="fa-solid fa-volume-high"  data-action="click->tetris#mute" data-tetris-target="muteBtn"></i>
          <i class="fa-solid fa-volume-xmark" data-action="click->tetris#unmute" data-tetris-target="unmuteBtn"></i>
        </p>
      </div>
    </div>


    <div id="score" class="col-4 col-lg-3 col-xl-2 d-flex flex-column align-items-end">
      <div class="scoreboard w-100">
        <h3 class="text-end pt-1 px-3 m-0">Score</h3>
        <p data-tetris-target="score" class="text-end pe-3 py-3 m-0">0</p>
      </div>
      <div class="next-piece mt-3 w-100" data-tetris-target="nextGridRow">
        <% y = -1 %>
        <% 5.times do %>
          <div class="d-flex justify-content-center">
            <% x = 4 %>
            <% 5.times do %>
              <div id="next-<%= x %>,<%= y %>" class="next-grid empty" data-tetris-target="nextGrid"></div>
              <% x += 1 %>
            <% end %>
          </div>
          <% y += 1 %>
        <% end %>
      </div>
    </div>
  </div>


  <%= audio_tag 'tetris.weba', 'tetris.m4a', data: {tetris_target: :music}, loop: true %>
  <%= audio_tag 'lose.m4a', data: {tetris_target: :loseAudio}%>
  <%= audio_tag 'pause.weba', 'pause.m4a', data: {tetris_target: :pauseAudio} %>
  <%= audio_tag 'lineclear.weba', 'lineclear.m4a', data: {tetris_target: :lineClearAudio}%>
</div>
