<div class="tetris" data-controller="tetris" data-action="keydown@window->tetris#moveInput keyup@window->tetris#otherInput" data-tetris-link-value="<%= game_scores_path(game) %>">
  <div class="row justify-content-center w-100">
    <div class="d-none d-md-block col-3 col-lg-auto">
      <div id="high-scores" class="high-scores scoreboard" data-tetris-target="highscores">
        <%= render 'games/tetris/high_scores', formats: :html, scores: game.scores %>
      </div>
    </div>

    <div id="game" class="col-6 col-sm-auto d-flex flex-column align-items-center">
      <h2 class="text-center" data-tetris-target="level">Level 1</h2>
      <div class="board">
        <% y = 0 %>
        <% 22.times do %>
          <div class="d-flex justify-content-center" data-tetris-target="row">
            <% x = 0 %>
            <% 12.times do %>
              <div id="<%= x %>,<%= y %>" class="grid empty" data-tetris-target="grid"></div>
              <% x += 1 %>
            <% end %>
          </div>
          <% y += 1 %>
        <% end %>
      <%= render 'games/tetris/start_game', formats: :html %>
      <div data-tetris-target="gameOver"></div>
      <div data-tetris-target="paused"></div>
      </div>
      <div class="volume-control d-flex justify-content-end w-50 pt-1">
        <p>
          <i class="fa-solid fa-volume-high"  data-action="click->tetris#mute" data-tetris-target="muteBtn"></i>
          <i class="fa-solid fa-volume-xmark" data-action="click->tetris#unmute" data-tetris-target="unmuteBtn"></i>
        </p>
      </div>
    </div>


    <div id="score" class="col-3 col-lg-2">
      <div class="scoreboard">
        <h3 class="text-end pt-1 px-3 m-0">Score</h3>
        <p data-tetris-target="score" class="text-end pe-3 py-3 m-0">0</p>
      </div>
      <div class="next-piece mt-3">
        <% y = -1 %>
        <% 5.times do %>
          <div class="d-flex justify-content-center">
            <% x = 4 %>
            <% 5.times do %>
              <div id="next-<%= x %>,<%= y %>" class="next-grid empty" data-tetris-target="nextGrid"></div>
              <% x += 1 %>
            <% end %>
          </div>
          <% y += 1 %>
        <% end %>
      </div>
    </div>
  </div>


  <audio data-tetris-target="music" src="<%= audio_path 'tetris.weba'%>" type="audio/weba" loop></audio>
  <audio data-tetris-target="loseAudio" src="<%= audio_path 'lose.m4a'%>" type="audio/m4a"></audio>
  <audio data-tetris-target="pauseAudio" src="<%= audio_path 'pause.weba'%>" type="audio/weba"></audio>
  <audio data-tetris-target="lineClearAudio" src="<%= audio_path 'lineclear.weba'%>" type="audio/weba"></audio>
</div>
